ContactFormAIReply.json
{
    "name": "New scenario",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3106949,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -513,
                    "y": 35
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Automation_Webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "Authorization",
                        "value": "insert-groq-api-key"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\"model\":\"llama-3.3-70b-versatile\",\"messages\":[{\"role\":\"system\",\"content\":\"You are a professional customer service assistant. Write a warm, personalized, concise reply email. Address them by first name. Reference their specific message and needs. Suggest a discovery call. Sign off as the SkillSync team Keep it under 150 words. \"},{\"role\":\"user\",\"content\":\"Name: {{1.data.fields[1].value}}\\nEmail: {{1.data.fields[2].value}}\\nMessage: {{1.data.fields[3].value}}\"}],\"max_tokens\":300,\"temperature\":0.7}"
            },
            "metadata": {
                "designer": {
                    "x": -213,
                    "y": 35
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 7704376
            },
            "mapper": {
                "to": [
                    "{{1.data.fields[2].value}}"
                ],
                "subject": "Thanks for reaching out, {{1.data.fields[1].value}}",
                "bodyType": "rawHtml",
                "content": "{{3.data.choices[1].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 87,
                    "y": 35
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gmail connection (rabeehakamran801@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment",
                            "name": "value"
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "CC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "BCC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "emailHeaders",
                        "type": "array",
                        "label": "Additional email headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}
